body {
    background-color: #E5E5E5;
    color: #293845;
}

div nav a{
    margin-top: 35px;
    color: #293845 !important;
}

.search_area{
    margin-top: 35px;
}

.header_area{
    background-color: #a0a0a0;
    padding: 20px;
}

.header_area img{
    width: 135px;
    height: 135px;
}

div > h1{
    text-align: center;
}

#carouselExampleIndicators{
    padding-bottom: 35px;
}

.lançamentos_area{
    border: 3px solid #b7b7b7;
    border-radius: 5px;
    margin-top: 10px;
    background-color: #cecece;
}

.centraliza{
    text-align: center;
}

.lançamentos_area img{
    width: 300px;
    height: 100%;
}

.lançamentos_area h1{
    margin-bottom: 10px;
}

.em_dest{
    width: 100%;
    margin-top: 10px;
}

button{
    margin: 10px;  
    position: relative;
    left: 1050px;
}

.em_dest img{
    padding-bottom: 10px;
    width: 100%;
    height: 100%;
}

.aval_area{
    border-radius: 20px;
    padding: 10px;
    background-color: #cecece;
    border: 3px solid #b7b7b7;
}

.aval_area img{
    height: 100px;
    width: 100px;
    border-radius: 100%;
}

.ent_area iframe{
    width: 100%;
}

.novidades img{
    width: 100%;
    height: 100%;
    position: relative;
}

.novidades div{
    margin-bottom: 10px;
}

.carousel-item p {
    font-size: x-large;
}

.footer{
    text-align: center;
    background-color: #E5E5E5;
}

.footer img{
    width: 100px;
    height: 100px;
    position: relative;
    left: 60px;
}

.pesquisa_area{
    text-align: center;
    border-radius: 20px;
    padding: 10px;
    background-color: #cecece;
    border: 3px solid #b7b7b7;
    height: 70vh;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow-y: scroll;
}

.detalhes_area img{
    padding-bottom: 10px;
    width: 100%;
    height: 100%;
}

.elemento {
    margin-bottom: 10px;
}

.elemento img{
    max-height: 190px;
}

.overview, .title {
    text-align: justify;
}

.menu_topo {
    font-size: 20px;
    font-weight: 600;
}


@media screen and (max-width:770px){
    #pesquisar {
        display: none;
    }
    #logo {
        display: none;
    }
}

