
div nav a{
    margin-top: 35px;
    color: aliceblue !important;
}

.search_area{
    margin-top: 35px;
}

.header_area{
    background-color: rgb(212, 146, 146);
    padding: 20px;
}

.header_area img{
    width: 120px;
    height: 100px;
}

div > h1{
    text-align: center;
}

#carouselExampleIndicators{
    padding-bottom: 35px;
}

.lançamentos_area{
    border: 3px solid rgb(240, 158, 158);
    border-radius: 5px;
    margin-top: 10px;
    background-color: rgb(245, 179, 179);
}

.centraliza{
    text-align: center;
}

.lançamentos_area img{
    width: 300px;
    height: 100%;
}

.em_dest{
    background-color: rgb(255, 255, 255);
    width: 100%;
}

button{
    margin: 10px;  
    position: relative;
    left: 1050px;
}

.em_dest img{
    padding-bottom: 10px;
    width: 100%;
    height: 100%;
}

.aval_area{
    border-radius: 20px;
    padding: 10px;
    background-color: rgb(212, 146, 146);
    border: 10px solid rgb(207, 113, 113);
}

.aval_area img{
    height: 100px;
    width: 100px;
    border-radius: 100%;
}

.ent_area iframe{
    width: 100%;
}

.novidades img{
    width: 100%;
    height: 100%;
    position: relative;
}

.novidades div{
    margin-bottom: 10px;
}

.carousel-item p {
    font-size: x-large;
}

.footer{
    text-align: center;
    background-color: rgb(212, 146, 146);
}

.footer img{
    width: 100px;
    height: 100px;
    position: relative;
    left: 60px;
}

.pesquisa_area{
    text-align: center;
    border-radius: 20px;
    padding: 10px;
    background-color: rgb(212, 146, 146);
    border: 10px solid rgb(207, 113, 113);
    height: 70vh;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow-y: scroll;
}

@media screen and (max-width:770px){
    #pesquisar {
        display: none;
    }
    #logo {
        display: none;
    }
}

